/* Mobile */
@media only screen and (max-width:3000px){
}
@media only screen and (max-width:1920px){
    #wrap .page .limit.event_list {width:1328px;}
    #wrap .page .limit.job_list {width:1270px;margin:0 auto;}
}
@media only screen and (max-width:1350px){
    #nav li.item {width:180px;}
    .event_item {margin:0 80px;}
    #wrap .page .limit.event_list {width:1084px;}
    .job_item {margin:10px 71px 40px 71px;}
    #wrap .page .limit.job_list {width:1010px;margin:0 auto;}
}

@media only screen and (max-width:1050px){
    #nav li.item {width:150px;font-size:12px;}
    #nav li.item h2 {padding:25px 0 25px 20px;}
    #nav li ol {padding:0 0 20px 20px;}
    .job_item {margin:10px 43px 40px 43px;}
    #wrap .page .limit.event_list {width:924px;}
    #wrap .page .limit.job_list {width:910px;margin:0 auto;}
}

@media only screen and (max-width:900px){
    #nav li.item {width:130px;font-size:12px;}
    #nav li.item h2 {padding:25px 0 25px 15px;}
    #nav li ol {padding:0 0 20px 15px;}
    .job_item {margin:10px 43px 40px 43px;}
    #wrap .page .limit.event_list {width:924px;}
    #wrap .page .limit.job_list {width:910px;margin:0 auto;}
}

@media screen and (max-width:640px){
    #nav {display: none;}
    .menu {display:block;}
    .search {right:30px;}
    .language {right:80px;}
    .job_item{display:block;margin:0 auto;}
    .event_item{display:block;margin:0 auto;}
    .page .left,
    .page .right{float:none;}
    .home_lookbook{margin-top:5%;}
    .home_img1 img {margin:0;max-width:100%;}
    .home_brand .left {max-width:none;float:none;padding:0 30px;}
    #links #nav li.item{display:block;text-align:center;margin:5% auto;height:auto;}
    #wrap .page .limit{margin-left:auto;margin-right:auto;padding-left:7%;padding-right:7%;}
    .home_new_cn{background-size:contain;}
    .home_brand_txt {font-size:20px;}
    .weibo_wbbox{width:100%;height:500px;position: relative;font-size:20px;}
    .weibo_wbbg{display: none;}
    .weibo_wb_btn{margin:0 auto;text-align:center;}
    .videowrap{text-align:center;}
    .videowrap img{max-width:100%;}
    .footer .ft_list,
    .footer .ft_touch{display:block;text-align:center;margin:3% auto;float:none;}
    .menu{background-image:url('../images/mobilemenu.png');background-size:contain;}
    /* milestone page */
    .page_heritage .limit{width:600px;}
    .page_heritage .ha_modtxt h2{font-size:40px;padding-bottom:0;}
    .page_heritage .ha_modtxt h3{font-size:18px;padding:0 0 10px;}
    .page_heritage .ha_modR{margin:0;}
    /* news page */
    .page_event .event_list{width:auto;}
    .page_event .event_look{width:auto;text-align:center;}
    /* campaign page */
    .page_campaign{margin-top:12%;}
    .page_campaign .limit{text-align:center;}
    .page_campaign .cp_modtxt,
    .page_campaign .cp_season,
    .page_campaign .cp_tit{width:auto;}
    .page_campaign .wrap img{width:100%;}
    /* lookbook / streetshot */
    .streetshot .limit,
    .page_lookbook .limit{text-align:center;}
    .streetshot .limit .lb_tit,
    .streetshot .limit.lb_modtit,
    .streetshot .limit img,
    .page_lookbook .limit .lb_tit,
    .page_lookbook .limit.lb_modtit,
    .page_lookbook .limit img{width:100%;}
    .streetshot .limit.list img,
    .page_lookbook .limit.list img{max-width:100%;margin:5% auto;}
    /* page storelocator */
    .page_storelocator{margin-top:60px;}
    .page_storelocator .store_additem{float:none;width:auto;}
    /* page starshop */
    .page_starshop{margin-top:60px;}
    .page_starshop .limit .desc{float:none;width:100%;}
    .page_starshop .limit img{float:none;width:100%;}
    /* privacy */
    .page_privacy{padding:80px 0;}
    .page_privacy .privacy_tit{display:none;}
    .page_privacy .privacy_tit.mobile{display:block;font-size:40px;line-height:1em;}
    .page_privacy .privacy_tit.mobile h2{margin:5% auto;font-size:20px;}
    .page_privacy .privacy_com{width:auto;}
    .ft_com{width:auto;}
    .ft_links{float:none;width:auto;text-align:center;margin:0;}
    .footer {line-height: 20px;}
}
/* mobile menu part */
body.mobile,
body.mobile .mbmenu,
body.mobile.open #wrap,
body.mobile.open .header{-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;}
body.mobile .header{left:10px;}
body.mobile .header .menu{left:5px;}
body .mbmenu{color:#000;background:#fff;left:-190px;width:190px;height:100%;top:0;z-index:1000;position:fixed;display:none;-webkit-box-shadow:inset -12px 0px 12px -14px rgba(0,0,0,0.38);-moz-box-shadow:inset -12px 0px 12px -14px rgba(0,0,0,0.38);box-shadow:inset -12px 0px 12px -14px rgba(0,0,0,0.38);}
body .mbmenu h2{font-size:22px;font-weight:200;margin:16px 20px;cursor:pointer;}
body .mbmenu ol{list-style:none;height:0px;padding:0;overflow:hidden;}
body .mbmenu ol.active{height:auto;}
body .mbmenu ol a{display:block;padding:4px 20px;color:#777;}
body .mbmenu ol a.active{color:#fff;background:#000;}
body.mobile{overflow-x:hidden;position:relative;left:0;}
body.mobile.open,
body.mobile.open #wrap{left:190px;}
body.mobile.open .header{left:200px;right:0;}
body.mobile.open .header .language,
body.mobile.open .header .search{display:none;}
body.mobile .mbmenu{display:block;}
body.mobile .mbmenu.open{left:0px;}
