<div class="jcarousel">
    <ul class='content'>
        <li>
            <video controls>
                 <source src="media/movie.ogg">
            </video>
            <span></span>
        </li>
        <li>
            <video controls>
                 <source src="media/movie.ogg">
            </video>
            <span></span>
        </li>
    </ul>
</div>
<ul class='actions'>
    <li>
        <a class="jcarousel-control-prev">&lsaquo;</a>
    </li>
    <li>
        <a class="jcarousel-control-next">&rsaquo;</a>
    </li>
</ul>
