a {color:#555;}

body,label, input, button, select, textarea {font-size:12px;color:#444;}


#header {
  height: 100px;
  border: 1px solid #eee;
}

#header #logo {background:url('../images/logo.png') no-repeat;width:70px;height:58px;text-indent:-999em;margin:20px auto;}

.breadcrumb {font-size:10px;}

#sidebar {margin-top:15px;}

#bar {
  height: 36px;
  border: 1px solid #eee;
}

#footer {
  height: 80px;
  border: 1px solid #eee;
}

.show-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.fieldset-section {
  position: relative;
}

.hideme {
  display: none;
}

#shop-map {
  height: 500px;
}

.shop-table {
  position: relative;
}

.shop-table .dataTables_filter, .table-content .dataTables_filter {
  position: absolute;
  top: -39px;
  right: 10px;
}

input.ng-invalid,select.ng-invalid {
  border: 1px solid #f00;
}

.upload-image-item {
  list-style-type: none;
  overflow: hidden;
}

.upload-image-item img {
  max-width: 200px;
}

legend {
  cursor: pointer;
}

.nav-list .nav-header {background:#aaa;color:#fff;text-shadow:none;}

#content {padding:50px 0 0;}