#header {
  height: 150px;
  border: 1px solid #eee;
}

#bar {
  height: 40px;
  border: 1px solid #eee;
}

#footer {
  height: 80px;
  border: 1px solid #eee;
}

.show-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.fieldset-section {
  position: relative;
}

.hideme {
  display: none;
}

#shop-map {
  height: 500px;
}

.shop-table {
  position: relative;
}

.shop-table .dataTables_filter {
  position: absolute;
  top: -39px;
  right: 10px;
}

input.ng-invalid,select.ng-invalid {
  border: 1px solid #f00;
}

.upload-image-item {
  list-style-type: none;
  overflow: hidden;
}

.upload-image-item img {
  max-width: 200px;
}

legend {
  cursor: pointer;
}